[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "plugins/jshint-mode"]
	path = plugins/jshint-mode
	url = https://github.com/daleharvey/jshint-mode
[submodule "plugins/magit"]
	path = plugins/magit
	url = git@github.com:magit/magit.git
