[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "plugins/jshint-mode"]
	path = plugins/jshint-mode
	url = https://github.com/daleharvey/jshint-mode
